<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.collabwithme20"
        tools:ignore="GoogleAppIndexingWarning">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_logo_1"
            android:label="@string/app_textView2"
            android:roundIcon="@mipmap/app_logo_1_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ChatLogActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
                android:name=".NewMessageActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".FriendRequestsActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity android:name=".DeleteAccountPopUpWindow" />
        <activity
                android:name=".FriendsPopUpWindow"
                android:screenOrientation="portrait"
                android:theme="@style/PopMe"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".PopUpWindow"
                android:screenOrientation="portrait"
                android:theme="@style/PopMe"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ProfilePictureActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ChooseCityActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".SettingsActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".MessagesActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".FriendsActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".FindPeopleActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ProfileActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".HomeScreenActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".RegistrationActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>